body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


.simpletable{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

table.simpletable td, th {
  border: 1px solid #ddd;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

table.simpletable tr:nth-child(even){background-color: #f2f2f2;}

table.simpletable tr:hover {background-color: #ddd;}

table.simpletable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}